*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    height: 100%;
}
    /* background-color: #3b82f6; */
    /* background-color: #4ade80; */
    /* background-color: #7ff8ab; */

.left{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: #4ade80;
    /* width: 20%; */
    height: 100vh;
    float: left;
    color: white;
    font-size: 1.5rem;
    padding: 20px;
    text-align: center;
    /* box-shadow: 20px 20px 20px rgba(0,0,0,0.1); */
}
.left a{
    text-decoration: none;
    color: black;
    font-weight: bold;
    /* margin-bottom: 20px; */
}
.row, .container-fluid{
    margin: 0;
    padding: 0;
}
.rightContainer{
    background-image: url('img/background.jpg');
    background-size: cover;
}
  