*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    color: white;
}


html, body {
    height: 100%;
}
.container-fluid{
    
    background-image: url("img/background.jpg");
    background-size: cover;

}
.multiple-text{
    color: #4ade80;
    font-weight: bold;
    text-transform: uppercase;
}
 
#header{
    text-align: center;
    margin-bottom: 30px;
    margin-top: -10px;
}

.left{
    display: flex;
    flex-direction: column;
    background-color: #4ade80;
    min-height: 100vh;
    color: white;
    font-size: 1.5rem;
    padding: 20px;
    text-align: center;
    gap: 10px;
}
.profil{
    border: 5px solid #4ade80;
    border-radius: 5px;
    object-fit: cover;
    width: 190px;
}
.left a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    border: 5px solid #4ade80;
    border-radius: 10px;
    padding: 10px;
    display: block;
    background-color: black;
}
.left a:hover{
    background-color: white;
    color: black;
    transition: background-color 0.10s ease;
}
.row .container-fluid{
    margin: 0;
    padding: 0;
}
.right{
    background-image: url("img/background.jpg");
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    padding: 40px 30px;
    color: white;
}
.titre{
    text-align: center;
    font-size: 2.5rem;
    font-weight: bold;
    color: white;
    margin-bottom: 1rem;
}

#apropos , #experience , #formation , #projet, #competence , #interet , #contact{
    background-color: rgba(0, 0, 0, 0.6);
    padding: 2%;
    width: 95%;
    margin: auto;
    margin-top: 5%;
    border-radius: 10PX;
}
.experience-item{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
}
.description{
    display: flex;
    flex: 1 1;
    flex-direction: column;
    color: white;
    line-height: 1.6;
    margin: 0 auto;
    font-size: 1.1rem;
    border-radius: 5px;
    box-shadow: 2px 10px 10px white;
    padding: 10px;
}
/* style pour le poucentage de skill */
.skills{
    text-align: right;
}

.skill{
    text-align: right;
    background-color: white;
    color: black;
    margin: 3px;
    padding: 5px;
    border-radius: 10px;
    font-weight: bold;
    
}

/* barre de compétence pour le width du niveau */
.skillhtmlcss{
    background-color: #4ade80;
    width: 90%;  
}

.skilljava{
    background-color: #4ade80;
    width: 60%;
}
.skilljavascript{
    background-color: #4ade80;
    width: 70%;
}
.skillphp{
    background-color: #4ade80;
    width: 80%;
}
.skillsymfony{
    background-color: blueviolet;
    width: 50%;
}
.skillbootstrap{
    background-color: blueviolet;
    width: 75%;
}
.skilljquery{
    background-color: blueviolet;
    width: 65%;
}
.skilllaravel{
    background-color: blueviolet;
    width: 55%;
}
.skillgit{
    background-color: blueviolet;
    width: 80%;
}
.skillgithub{
    background-color: blueviolet;
    width: 80%;
}
.skillvscode{
    background-color: blueviolet;
    width: 90%;
}
.skillmysql{
    background-color: blue;
    width: 90%;
    color: white;
}
.skillsql{
    background-color: blue;
    width: 90%;
    color: white;
}
.skillpostegrel{
    background-color: blue;
    width: 40%;
    color: white;
}
.skillphpmyadmin{
    background-color: blue;
    width: 80%;
    color: white;
}

/* style pour la section contact */
#contact input[type="text"], #contact input[type="email"], #contact textarea{
    background-color: springgreen;
    color: white;
    font-weight: bold;
    border-radius: 6px;
    padding: 8px;
    margin-top: 10px;
    border: none;
    cursor: pointer;
}

/* effet au survol des champs du formulaire */
#contact input[type="text"]:hover, #contact input[type="email"]:hover, #contact textarea:hover{
    background-color: white;
    color: black;
    transition: background-color 0.10s ease;
}

/* style pour le bouton envoyer */
.botton-container{
    text-align: center;
    color: white;
    font-weight: bold;
    border-radius: 6px;
    padding: 8px;
    cursor: pointer;
}
button{
    width: 50%;
    background-color: #4ade80;
}

/* style pour la section projet */
.projet-container{
    display: flex;
    justify-content: space-around;
    gap: 10px;
    display: flex;
    flex-wrap: wrap;
    flex: 1 1 ;
}
/* style pour le pied de page */
footer{
    text-align: center;
    padding: 10px;
    background-color: #4ade80;
    color: white;
    margin-top: 20px;
}

footer a{
    text-decoration: none;
    color: white;
    margin: 0 10px;
    font-size: 1.5rem;
}
footer i{
    color: blue;
}

.annee{
    text-align: right;
}

/* Style pour la section intéêts */
.interets-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
}
.interets-item{
    display: flex;
    flex: 1 1;
    flex-direction: column;
    color: white;
    line-height: 1.6;
    margin: 0 auto;
    font-size: 1.1rem;
    border-radius: 5px;
    box-shadow: 2px 10px 10px white;
    padding: 10px;
    max-width: 300px;
}
.interets-item h5{
    text-align: center;
    margin-bottom: 10px;
    color: #4ade80;
}
.interets-item:hover{
    background-color: grey;
    color: white;
    transition: background-color 0.10s ease;
}
.interets-item h5:hover{
    color: white;
}

/* La nav pour la partie responsive*/
.burger-menu{
    background-color: black;
    text-align: center;
    display: none;
    font-size: 2rem;
    cursor: pointer;
    color: white;
}

#burgerContent a{
    display: flex;
    flex-direction: column;
    margin-top: 1%;
    text-decoration: none;
    color: white;
    font-weight: bold;
    border: 5px solid #4ade80;
    border-radius: 10px;
    padding: 10px;
    background-color: black;
}

#burgerContent a:hover{
    background-color: white;
    color: black;
    transition: background-color 0.10s ease;
}
#burgerContent img{
    width: 200px;
    border-radius: 50%;
    margin-top: 1%;
}

.photo{
    transition: transform 0.4s ease;
}
.photo.active{
    transform: rotate(2deg) scale(1.1);
}

/* La partie responsive pour une taille de 1200 */
@media screen and (max-width: 1200px){
    
    .burger-menu{
        display: block;
        width: 100%;
        margin-right: auto;
        min-width: 400px;
    }
    .left{
        display: none;
    }

    .right{
        width: 100%;
        min-width: 400px;
    }
    .right h1{
        font-size: 2rem;
    }
    .right .nom{
        font-size: 1.2rem;
    }
    footer{
        width: 100%;
        min-width: 400px;
    }


}

@media screen and (max-width: 430px){
    
    .burger-menu{
        display: block;
        width: 100%;
        margin-right: auto;
        min-width: 400px;
    }
    .left{
        display: none;
    }
    .right{
        width: 100%;
        min-width: 300px;
    }


}
/* Responsive pour iphone 14 */
@media screen and (max-width: 390px){
    
    .burger-menu{
        display: block;
        width: 100%;
        margin-right: auto;
        min-width: 300px;
    }
    .left{
        display: none;
    }
    .right{
        width: 100%;
        min-width: 300px;
    }
    footer{
        width: 100%;
        min-width: 300px;
        margin-left: 10px;
    }


}



